@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  background: #1c1c1c;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.pt1 {
  display: flex;
}

.name {
  display: flex;
  flex-direction: column;
  width: 165px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: orange;
  padding: 1rem 0 0 .5rem;
  width: 165px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: orange;
  font-weight: 100;
  width: 165px;
  padding-left: 1.7rem;
}

.whatsapp {
  width: 206px;
  text-align: center;
  margin-top: 25px;
}

.button {
  padding: 0.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  color: #1c1c1c;
  background-color: orange;
  border-radius: 15px;
}

/* Parte 2 */

.banner {
  margin-top: 20px;
  width: 100%;
}

.hidden {
  opacity: 0;
  height: 250px;
  width: 100%;
  margin-top: 2rem;
  background-color: #1c1c1c;
  background-image: linear-gradient(180deg, #222222, #1c1c1c);
  border-radius: 50px;
  filter: blur(20px);
  transition: all 1.5s;
  transform: translateY(100%);
}

.show {
  opacity: 1;
  filter: blur(0px);
  transition: all 1.5s;
  transform: translateY(0);
}

.last {
  margin: 2rem 0 0 2.5rem;
}

/* Parte 3 */

.text {
  color: white;
  text-align: justify;
  font-weight: 100;
  font-size: 1rem;
  padding: 1rem 1rem;
  filter: blur(20px);
  transition: all 1.5s;
  transform: translateX(-100%);
}

.aparecer {
  opacity: 1;
  filter: blur(0px);
  transition: all 1.5s;
  transform: translateY(0);
}

/* Parte 4 */
.photo {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-radius: 10px;
  filter: blur(20px);
  transition: all 1.5s;
  transform: translateX(-100%);
}

.aparecer2 {
  opacity: 1;
  filter: blur(0px);
  transition: all 1.5s;
  transform: translateY(0);
  padding: 0.5rem;
  margin: auto;
}

.photo :nth-last-child(1) {
  transition-delay: 400ms;
}

.photo2 {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 10px;
  filter: blur(20px);
  transition: all 1.5s;
  transform: translateX(-100%);
}

.aparecer2 {
  opacity: 1;
  filter: blur(0px);
  transition: all 1.5s;
  transform: translateY(0);
  padding: 0.5rem;
  margin: auto;
}

.photo2 :nth-last-child(1) {
  transition-delay: 400ms;
}

/* Parte 5 */
.text2 {
  text-align: center;
  color: white;
  font-weight: 900;
  padding: 3rem 2rem 1rem 2rem;
}

.portifolio {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 2rem;
}

.buttom {
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #1c1c1c;
  background-color: orange;
  border-radius: 25px;
}

/* Parte 6 */
.pe {
  margin-top: 5rem;
  background-color: orange;
  height: 100px;
  width: 100%;
}

.rede {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon {
  margin-top: 1.7rem;
}

/*
@media screen and (min-width: 425px) {
  .content {
      max-width: 425px;
      margin: 0 auto;
  }

  .pokemons {
      grid-template-columns: 1fr 1fr;
  }

}
  */