@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
  font-style: normal;
  font-size: 20px;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  background: #1C1C1C;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.pt1 {
  display: flex;
}

.name {
  display: flex;
  flex-direction: column;
  width: 206px;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: orange;
  padding: 1rem 0 0 1rem;
  width: 200px;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: orange;
  font-weight: 100;
  width: 180px;
  padding-left: 2.2rem;
}

.whatsapp {
  width: 206px;
  text-align: end;
  padding: 1rem 2rem;
}

.button {
  padding: .2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #1C1C1C;
  background-color: orange;
  border-radius: 15px;
}